html, body{
  margin: 0;
  font-family: "Helvetica", serif;
  font-size: 18px;
  background-color: black;
}

/* company name and logo */
.company{
  height: 2.82rem;
  /* margin-top: 0; */
  display: flex;
  background-color: black;
}
.company .container{
  width: 900px;
  margin: 0 auto;
  display: inline-block;
  padding-top: .66rem;
  padding-bottom: .66rem;
  /* background-color: blue; */
  padding-left: .5rem;
}
.company .container span{
  font-size: 1rem;
  color: white;
  padding-left: 1rem;
}
.company .container img{
    height: 1.5rem;
    padding left: 0.5rem;
}

.banner{
  display: flex;
  background-image: url("../../resources/images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  height: 25rem;
  width: 100%;

  /* padding-top: 9rem; */
  /* padding-left: 3rem; */
  /* padding-top: 70px; */
}
.banner .container{
  background-color: black;
  height: 7.5rem;
  width: 20rem;
  margin-top: 9rem;

}
