html, body{
  font-family: "Helvetica", serif;
  font-size: 18px;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* company name and logo */
.company{
  color:white;
  background-color: black;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}

.company .container{
  display: flex;
  padding: .66rem 0 .66rem 0.5rem;
  background-color: blue;
}

.company .container img{
    height: 1.5rem;
    padding-right: 1rem;
}

.banner{
  background-image: url("../../resources/images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
  /* margin: 0 auto; */
}

.headline {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}
h1, h4{
  font-weight: bold;
}
.headline h1{
  margin: .25rem 0;
  font-size: 2rem;
  line-height: 1.2;
}


/* Navigation Bar */

nav {

  background-color: firebrick;
  color: white;

}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 0;
}
.mobile-nav{
  display: none;
}
@media only screen and (max-width: 1024px) {
  nav ul{
    display: none;
  }
  .mobile-nav{
    display: block;
    text-align: center;
  }
}
